  .swiper-button-prev {
      left: 50% !important;
      top: 0% !important;
      transform: rotate(90deg);
      transform-origin: left center;
    }
    .swiper-button-next {
      left: 50% !important;
      top: 90% !important;
      transform: rotate(90deg);
      ;

      transform-origin: left center;

    }